body{
    margin: 0px;
    border: 0px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    background-color: #d1daeb;
    font-family: monospace, sans-serif;
}

#grocery{
    box-shadow: 0px 0px 5px 5px #cccaca;
    border-radius: 5px;
    width: 55%;
    padding: 3% 0;
    background-color: whitesmoke;
}

.text{
    text-align: center;
    color: #382c2b;
    font-size: 2.2em;
    font-weight: 600;
    letter-spacing: 2.5px;
    color: transparent;
    text-shadow: 0 0 1px #000;
}

#input-container{
    width: 80%;
    padding: 1% 0;
    display: flex;
    justify-content: center;
}

#input-bar{
    border: 2px solid #508df7;
    border-radius: 3.5px;
    width: 80%;
    height: 1.7em;
    background-color: #dfe5f0;
}

#btn{
    background-color: #9abfff;
    border: none;
    border-radius: 3.5px;
    width: 19%;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: monospace, sans-serif;
}

#form{
    display: flex;
    justify-content: center;
}

#item_list{
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#btn-div{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#clear{
    margin: auto;
}

#list{
    margin: 3% 0;
}

#item_list{
    margin: 3% 0;
}

#clear-btn{
    border: none;
    background-color: whitesmoke;
    font-family: monospace, sans-serif;
    letter-spacing: 2px;
    font-size: 1em;
    color: rgb(160, 26, 26);
    margin: 2% 0;
}